<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Blog</title>

    @Styles.Render("~/Content/css")
</head>
<body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">
                    <img class="" src="~/Content/Images/logo.jpg" />
                    <h1 class="navbar-brand">Hoho Blog</h1>
                </a>
            </div>
        </nav>

        <div class="content">
            <div class="row">
                <div class="col-10 bg-light">
                    @RenderBody()
                </div>
                <div class="col-2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-link tab-pane">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="nav-link">@Html.ActionLink("Reviews", "Index", "Reviews")</li>
                        <li class="nav-link">@Html.ActionLink("Quiz", "Quiz", "Quiz")</li>
                    </ul>
                </div>
            </div>
        </div>
        
<footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3">
                <h5>Footer</h5>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-6">I stay at the bottom of the viewport! <span class="small"><br>Unless the page content pushes me further.</span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">©2017 Brand, Inc.</div>
        </div>
    </div>
</footer>
</body>
</html>
