<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Blog</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">
                    <img class="" src="~/Content/Images/logo.jpg" />
                    <h1 class="navbar-brand">Hoho Blog</h1>
                </a>
            </div>
        </nav>

        <div class="content">
            <div class="row">
                <div class="col-10 bg-light">
                    @RenderBody()
                </div>
                <div class="col-2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-link tab-pane">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="nav-link">@Html.ActionLink("Reviews", "Index", "Reviews")</li>
                        <li class="nav-link">@Html.ActionLink("Quiz", "Quiz", "Quiz")</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <footer id="footer" class="footer navbar-fixed-bottom navbar-dark bg-dark">
            <a href="#" title="Вернуться к началу" class="topbutton">
                <img src="~/Content/Images/NavButtons/backToTop.png" alt="Back to top"/>
            </a>
            <div class="container-fluid">
                <p class="text-center text-white align-bottom">&copy; @DateTime.Now.Year - Hoho Inc</p>
            </div>
        </footer>
    </div>
</body>
</html>
